.characters-title {
    color: red;
}

.planets-title {
    color: red;
}

.btn {
    transition-duration: 0.4s;
}

.like-btn {
    border-radius: 3px;
    border-color: gold;
}

.fa-heart {
    color: gold;
    transition-duration: 0.4s;
}

.fa-heart:hover {
    color: black;
}