@import url('https://fonts.googleapis.com/css2?family=Poppins: 300,400,500,600,700,800,900&display=swap');



.characters-title {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;

}

.planets-title {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
}

.btn {
    transition-duration: 0.4s;
}

.like-btn {
    border-radius: 3px;
    border-color: gold;
}

.fa-heart {
    color: gold;
    transition-duration: 0.4s;
}

.fa-heart:hover {
    color: black;
}

.fa-heart:visited {
    color: red;
}